@import './grid.css';
@import './Navbar.css';
@import './Modebutton.css';
@import './Darkmode.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

:root {
  scrollbar-width: none !important;
}

.App {
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
}

/* ----------------------------------------------- */
/* HOME PAGE */
/* ----------------------------------------------- */
.homepage {
  max-width: 100%;
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
  background: #00bbffad;
  overflow: hidden;
  z-index: -20;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-position: center;
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -1000px;
  }
}

.introduction {
  position: absolute;
  width: 100%;
  top: 30%;
}

.myname h1{
  font-size: 3em;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.mytitle p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2vw 0 8vw 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.arrow {
  width: 50px;
  height: 50px;
  transition: .3s;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  transform: rotate(-270deg);
  border: 2px solid #323232;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover {
  border: 2px solid #ffffff;
  color: #009ed9;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}
/* ----------------------------------------------- */
/* HOME PAGE ANIMATION BACKGROUND */
/* ----------------------------------------------- */
.circle {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 70%;
  animation: animates 25s linear infinite;
  bottom: -150px;
}

.circle li.blue{
  background: rgba(35, 104, 197, 0.3);
}

.circle li.red{
  background: rgba(249, 82, 81, 0.8);
}

.circle li.green{
  background: rgba(79, 189, 134, 0.8);
}

.circle li.yellow{
  background: rgba(251, 192, 45, 0.9);
}

.circle li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
}

.circle li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circle li:nth-child(3) {
  left: 30%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  animation-duration: 12s;
}

.circle li:nth-child(4) {
  left: 70%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circle li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.circle li:nth-child(6) {
  left: 5%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 11s;
}

.circle li:nth-child(7) {
  left: 90%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  animation-duration: 12s;
}

.circle li:nth-child(8) {
  left: 20%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circle li:nth-child(9) {
  left: 40%;
  width: 50px;
  height: 50px;
  animation-delay: 2s;
  animation-duration: 10s;
}

.circle li:nth-child(10) {
  left: 50%;
  width: 70px;
  height: 70px;
  animation-delay: 1s;
  animation-duration: 12s;
}

@keyframes animates {
  0%{
    transform: translateY(0) rotate(0deg);
  }
  100%{
    transform: translateY(-1000px) rotate(720deg)
  }
}

/* ----------------------------------------------- */
/* ABOUT PAGE */
/* ----------------------------------------------- */
.aboutpage {
  padding-top: 100px;
  margin-top: 5vw;
  overflow: hidden;
}

.about h1 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.about h1:after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.summary {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 145%;
  margin: 0 25% 0 25%;
  text-align: left;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 6vh;
}

.iconlist {
  display: flex;
  justify-content: center;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconlist li {
  margin:0 60px 0 60px;
  text-decoration: none;
  transition: transform .2s;
}

.iconlist li a .fab {
  line-height: 80px;
  font-size: 40px;
  transition: .5s;
}

.iconlist li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #fff;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

.iconlist li a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #a2a2a2;
  transition: .5s; 
  transform: rotate(0deg) skewY(-45deg);
}

.iconlist li a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #c7c7c7;
  transition: .5s; 
  transform: rotate(0deg) skewX(-45deg);
}

.iconlist li a:hover {
  transform: perspective(1000px) rotate(-30px) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.iconlist li:nth-child(1) a .fab {
  color: #0072b1;
}

.iconlist li:nth-child(2) a .fab {
  color: #DD2A7B;
}

.iconlist li:nth-child(3) a .fab {
  color: #333;
}

.iconlist li:nth-child(4) a .fab {
  color: #333;
}

.iconlist li a:hover .fab {
  color: #fff;
}

.iconlist li:nth-child(1) a:hover {
  background: #00acee;
}

.iconlist li:nth-child(2) a:hover {
  background: #DD2A7B;
}

.iconlist li:nth-child(3) a:hover {
  background: #333;
}

.iconlist li:nth-child(4) a:hover {
  background: #333;
}

.iconlist li:nth-child(1) a:hover::before {
  background: #2e92b9;
}

.iconlist li:nth-child(2) a:hover::before {
  background: #751540;
}

.iconlist li:nth-child(3) a:hover::before {
  background: #202020;
}

.iconlist li:nth-child(4) a:hover::before {
  background: #202020;
}

.iconlist li:nth-child(1) a:hover::after {
  background: #5fc2e8;
}

.iconlist li:nth-child(2) a:hover::after {
  background: #d95490;
}

.iconlist li:nth-child(3) a:hover::after {
  background: #494949;
}

.iconlist li:nth-child(4) a:hover::after {
  background: #494949;
}

.resumelink {
  width: 90%;
  margin: 100px 5%;
}

.resumelink div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
}

.resumelink div a {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  background-color: #009ed9;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 7px 30px;
  color: white;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  transition: 0.3s;
}

.resumelink div a:hover {
  background-color: black;
}

.about-background {
  left: 0;
  width: 100%;
  padding:100px 0 150px 0 ;
  /* height: 100%; */
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.about-background li{
  display: block;
  list-style: none;
  position: relative;
  width: 20px;
  height: 20px;
}

.about-background li.blue{
  background: rgba(35, 104, 197, 0.3);
}

.about-background li.red{
  background: rgba(249, 82, 81, 0.8);
}

.about-background li.yellow{
  background: rgba(251, 192, 45, 0.9);
}

.about-background li:nth-child(1) {
  left: -10%;
  width: 300px;
  height: 300px;
  transform: rotate(-130deg);
}

.about-background li:nth-child(2) {
  left: 75%;
  width: 500px;
  height: 500px;
  transform: rotate(-130deg)
}

.about-background li:nth-child(3) {
  left: 14%;
  width: 300px;
  height: 300px;
  transform: rotate(-135deg)
}

/* ----------------------------------------------- */
/* SKILLS PAGE */
/* ----------------------------------------------- */
.skillspage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.skillspage {
  padding:50px 0 50px 0;
  margin-top: 80px;
  overflow: hidden;
}

.skillscontainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
}

.skillspage h1:after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.skill-card {
  margin: 1%;
  padding: 20px;
  width: 15em;
  float: left;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card-header {
  height: 40px;
}

.skill-card:hover .skill-card-header .skill-card-icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card-body {
  height: 170px;
}

.skill-card:hover .skill-card-body p{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.skill-card:hover .skill-card-body p{
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.skill-card .skill-card-header {
  position: relative;
  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: transform .5s;
  transition: -webkit-transform .5s;
  -webkit-transition: -webkit-transform .5s;
}

.skill-card .skill-card-body {
  height: 40px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card-body h2 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.skill-card .skill-card-body p {
  font-weight: bold;
  margin-top: 10px;
  height: 100px;
  overflow-y: scroll;
  text-align: left;
  transition-duration: 0;
  -webkit-transition-duration: 0;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.skill-card .skill-card-body p::-webkit-scrollbar{
  width:0px;
}

/* ----------------------------------------------- */
/* PROJECTS PAGE */
/* ----------------------------------------------- */
.projectspage {
  padding:100px 50px 50px 50px;
  margin-top: 50px;
  overflow: hidden;
}

.projectspage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.projectspage h1::after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.projectscontainer {
  margin: 0 auto;
  max-width: 1500px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.project-card {
margin: 2px;
border-radius: 10px;
background: #fafafa;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
display: block;
overflow: hidden;
-webkit-transition: 1s;
transition: 1s;
}

.project-img img {
  width: 100%;
  height: 300px;
}

.project-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
}

.project-details h2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}

.project-details p{
  font-weight: bold;
  margin-top: 10px;
  height: 100px;
  text-align: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag span {
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-right: 6px;
    background: rgba(0, 166, 255, 0.16);
}

.fab {
  margin-right: 2px;
}

.fas {
  margin-right: 2px;
}

.links a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background: rgba(0, 255, 81, 0.16);
    margin-right: 5px;
    transition: .1s;
}

.links a:hover {
  background: rgba(0, 255, 81, 0.50);
}

/* ----------------------------------------------- */
/* BLOGS PAGE */
/* ----------------------------------------------- */
.blogspage {
  padding:100px 50px 50px 50px;
  margin-top: 50px;
  overflow: hidden;
}

.blogspage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.blogspage h1::after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.img {
  width: 100%;
}

.blog-card {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 20px 1px rgb(94 94 94 / 30%);
  display: flex;
  align-items: center;
  border-radius:.8rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.blog-img {
  min-width: 300px;
  max-width: 300px;
  height: 200px;
  position: relative;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
  box-shadow: 0 0 20px 1px rgb(94 94 94 / 30%);
  -webkit-transition: .1s;
  transition: .1s;
}

.blog-img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.blog-img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: linear-gradient(to right, rgba(79, 172, 254, .8),
                                        rgba(0, 242, 254, .8));
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
  border-radius: .8rem;
  transition: .1s;
}

.blog-img:hover::before{
  background: transparent;
}

.blogdate span{
  display: block;
  color: rgba(0,0,0,.5);
  font-size: small;
  font-weight: bold;
  margin: .5rem 0;
}

.content h2 {
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-btn {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 5px;
  text-decoration: none;
}

.blog-btn:hover {
  background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

.blogtags span{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.content {
  text-align: left;
  margin-left: 20px;
}

.blogscontainer{
    display: grid;
    margin: 0 auto;
    max-width: 1500px;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 20px;
    gap: 20px;
}

/* ----------------------------------------------- */
/* CONTACT PAGE */
/* ----------------------------------------------- */
.contactpage {
  padding:100px 0 50px 0;
  margin-top: 50px;
  overflow: hidden;
}

.contactpage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.contactpage h1::after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.contactpage h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight:normal;
  -webkit-transition: 1s;
  transition: 1s;
}

.contactpage h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 50px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-btn button {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: transparent;
  border: 3px solid #1a1c20;
  color: #1a1c20;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.contact-btn button:hover {
  border: 3px solid rgb(0, 166, 255);
  color: rgb(0, 166, 255);;
}

.send-btn{
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  background: #ff005c;
  border: none;
  margin: 20px;
  outline: 2px solid #ff005c;
  outline-offset: 4px;
  border: 2px solid #ff005c;
  cursor: pointer;
  color: white;
  transition: all 250ms;
}

.send-btn:hover{
  outline-offset: -8px;
  color: rgb(34, 34, 34);
  background: none;
}

.contact-box form{
  width: 500px;
  height: 400px;
  margin: 10px auto 0;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 70px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 70px 0 70px 0;
  box-shadow: -1px 29px 20px 1px rgba(0, 0, 0, 0.432); 
}

input[type="text"] {
  width: 240px;
  height: 44px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 48px;
}

textarea[type="text"] {
  border: 1px solid #000;
  width: 240px;
  height: 80px;
  padding-top: 10px;
  max-width: 240px;
  min-width: 240px;
  max-height: 200px;
  min-height: 80px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding-left: 48px;
}

.inputicon {
  position:absolute;
  background: transparent;
  margin-right: 18px;
  margin-top: 2px;
  margin-left: 4px;
  width: 44px;
  height: 36px;
  padding-top: 10px;
}

.uparrow {
  width: 50px;
  height: 50px;
  transition: .3s;
  border-radius: 50%;
  margin-top: 100px;
  padding: 10px 10px 10px 10px;
  transform: rotate(-90deg);
  border: 2px solid #323232;
  cursor: pointer;
  transition: .3s;
}

.uparrow:hover {
  border: 2px solid #009ed9;
  color: #009ed9;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------------- */
/* CONTACT PAGE BACKGROUND */
/* ----------------------------------------------- */
.contact-background {
  left: 0;
  width: 100%;
  height: 800px;
  padding-top: 50px;
  z-index: -1;
  overflow: hidden;
  position: absolute;
}

.contact-background li{
  display: block;
  list-style: none;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 70%;
}

.contact-background li.blue{
  background: rgba(35, 104, 197, 0.3);
}

.contact-background li.red{
  background: rgba(249, 82, 81, 0.8);
}

.contact-background li.green{
  background: rgba(79, 189, 134, 0.8);
}

.contact-background li.yellow{
  background: rgba(251, 192, 45, 0.9);
}

.contact-background li:nth-child(1) {
  left: -10%;
  width: 400px;
  height: 400px;
}

.contact-background li:nth-child(2) {
  bottom: 60%;
  left: 50%;
  width: 300px;
  height: 300px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-background li:nth-child(3) {
  bottom: 60%;
  left: 10%;
  width: 250px;
  height: 250px;
}

.contact-background li:nth-child(4) {
  bottom: 90%;
  left: 70%;
  width: 600px;
  height: 600px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact-background li:nth-child(5) {
  bottom: 130%;
  left: 35%;
  width: 200px;
  height: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */
#footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 180%;
  padding-bottom: 130px;
}

.email a{
  color: #000;
  text-decoration: none;
  transition: .1s;
}

.email a:hover {
  border-bottom:2px solid rgb(0, 166, 255);
}

.portfolio-repo {
  text-decoration: none;
  color: rgb(0, 166, 255);
}

.portfolio-repo:hover {
  border-bottom:2px solid rgb(0, 166, 255);
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;
  text-decoration: none;
}

.footer-icon li {
  text-decoration: none;
  padding: 0px 20px;
  font-size: x-large;
  padding-top: 10px;
}

.footer-icon li:nth-child(1) a .fab {
  color: #0072b1;
}

.footer-icon li:nth-child(2) a .fab {
  color: #DD2A7B;
}

.footer-icon li:nth-child(3) a .fab {
  color: #333;
}

.footer-icon li:nth-child(4) a .fab {
  color: #333;
}

@media only screen and (max-width: 880px) {
  .myname h1{
    font-size: 2em;
    margin: 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .mytitle p {
    font-weight: bold;
    font-size: 1em;
    margin: 2vw 0 8vw 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .circle li:nth-child(7) {
    left: 70%;
  }

  .about-background li:nth-child(3) {
    left: -20%;
  }

    }

@media screen and (max-width: 1068px) {
  .blogscontainer {
    margin: 0 auto;
  }

  .blog-card {
    max-width: 300px;
  }

  .blog-img {
    min-width: 300px;
    max-width: 400px;
    height: 150px;
  }

  .blog-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 868px) {
  .blogscontainer {
    margin: 0 auto;
  }

  .blog-card {
    padding: 1rem;
    flex-direction: column;
  }

  .blog-img {
    min-width: 100%;
    max-width: 250px;
    height: 150px;
  }
}