@import './grid.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* ----------------------------------------------- */
/* HOME PAGE */
/* ----------------------------------------------- */
.homepage {
  max-width: 100%;
  margin: 0;
}

section {
  /* position: absolute; */
  width: 100%;
  height: 98vh;
  background: #00bbffad;
  overflow: hidden;
  z-index: -20;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-position: center;
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -1000px;
  }
}

.introduction {
  position: absolute;
  width: 100%;
  top: 30%;
}

.myname h1{
  font-size: 3em;
  margin: 0;
}

.mytitle p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2vw 0 8vw 0;
}

.arrow {
  width: 50px;
  height: 50px;
  transition: .3s;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  transform: rotate(-270deg);
  border: 2px solid #323232;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover {
  border: 2px solid #ffffff;
  color: #009ed9;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}

/* ----------------------------------------------- */
/* ABOUT PAGE */
/* ----------------------------------------------- */
.section {
  padding-top: 80px;
}

.about h1 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.about h1:after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.summary {
  width: 50%;
  line-height: 145%;
  margin: 0 25% 0 25%;
  text-align: left;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 6vh;
}

ul {
  display: flex;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  margin:0 60px 0 60px;
  text-decoration: none;
  transition: transform .2s;
}

ul li a .fab {
  line-height: 80px;
  font-size: 40px;
  transition: .5s;
}

ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #fff;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

ul li a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #a2a2a2;
  transition: .5s; 
  transform: rotate(0deg) skewY(-45deg);
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #c7c7c7;
  transition: .5s; 
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30px) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:nth-child(1) a .fab {
  color: #0072b1;
}

ul li:nth-child(2) a .fab {
  color: #DD2A7B;
}

ul li:nth-child(3) a .fab {
  color: #333;
}

ul li:nth-child(4) a .fab {
  color: #333;
}

ul li a:hover .fab {
  color: #fff;
}

ul li:nth-child(1) a:hover {
  background: #00acee;
}

ul li:nth-child(2) a:hover {
  background: #DD2A7B;
}

ul li:nth-child(3) a:hover {
  background: #333;
}

ul li:nth-child(4) a:hover {
  background: #333;
}

ul li:nth-child(1) a:hover::before {
  background: #2e92b9;
}

ul li:nth-child(2) a:hover::before {
  background: #751540;
}

ul li:nth-child(3) a:hover::before {
  background: #202020;
}

ul li:nth-child(4) a:hover::before {
  background: #202020;
}

ul li:nth-child(1) a:hover::after {
  background: #5fc2e8;
}

ul li:nth-child(2) a:hover::after {
  background: #d95490;
}

ul li:nth-child(3) a:hover::after {
  background: #494949;
}

ul li:nth-child(4) a:hover::after {
  background: #494949;
}

.resumelink {
  width: 90%;
  margin: 100px 5%;
  margin-bottom: 0;
}

.resumelink div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
}

.resumelink div a {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
  background-color: #009ed9;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 7px 30px;
  color: white;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  transition: 0.3s;
}

.resumelink div a:hover {
  background-color: black;
}

/* ----------------------------------------------- */
/* SKILLS PAGE */
/* ----------------------------------------------- */
.skillspage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.skillspage {
  background: #f4f4f4;
  padding:50px 0 50px 0;
  margin-top: 80px;
  overflow: hidden;
}

.skillscontainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
}

.skillspage h1:after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.skill-card {
  margin: 1%;
  padding: 20px;
  width: 15em;
  float: left;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skill-card:hover .skill-card-header {
  height: 40px;
}

.skill-card:hover .skill-card-header .skill-card-icon {
  transform: translateX(-50%) translateY(-50%) scale(3);
  -webkit-transform: translateX(-50%) translateY(-50%) scale(3);
}

.skill-card:hover .skill-card-body {
  height: 170px;
}

.skill-card:hover .skill-card-body p{
  transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.skill-card:hover .skill-card-body p{
  transition-delay: 0.25s;
  -webkit-transition-delay: 0.25s;
}

.skill-card .skill-card-header {
  position: relative;
  height: 170px;
  margin: -20px -20px 20px -20px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 128px;
  height: 128px;
  transition: transform .5s;
  transition: -webkit-transform .5s;
  -webkit-transition: -webkit-transform .5s;
}

.skill-card .skill-card-body {
  height: 40px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}

.skill-card .skill-card-body h2 {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.skill-card .skill-card-body p {
  font-weight: bold;
  margin-top: 10px;
  height: 100px;
  overflow-y: scroll;
  text-align: left;
  transition-duration: 0;
  -webkit-transition-duration: 0;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.skill-card .skill-card-body p::-webkit-scrollbar{
  width:0px;
}

/* ----------------------------------------------- */
/* PROJECTS PAGE */
/* ----------------------------------------------- */
.projectspage {
  padding:50px 50px 50px 50px;
  margin-top: 50px;
  overflow: hidden;
}

.projectspage h1{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.projectspage h1::after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.projectscontainer {
  margin: 0 auto;
  max-width: 1500px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.project-card {
margin: 2px;
border-radius: 10px;
background: #fafafa;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
display: block;
overflow: hidden;
}

.project-img img {
  width: 100%;
  height: 300px;
}

.project-content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
}

.project-details h2 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}

.project-details p{
  font-weight: bold;
  margin-top: 10px;
  height: 100px;
  text-align: left;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag span {
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em;
    margin-right: 6px;
    background: rgba(0, 166, 255, 0.16);
}

.fab {
  margin-right: 2px;
}

.fas {
  margin-right: 2px;
}

.links a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 250ms ease 0s;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    background: rgba(0, 255, 81, 0.16);
    margin-right: 5px;
    transition: .1s;
}

.links a:hover {
  background: rgba(0, 255, 81, 0.50);
}



