@import './grid.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* HOME PAGE */
.homepage {
  max-width: 100%;
  margin: 0;
}

section {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  background: #00bbffad;
  overflow: hidden;
  z-index: -20;
}

section .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  background-position: center;
  background-size: 1000px 100px;
}

section .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

section .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

section .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

section .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: -1000px;
  }
}

.introduction {
  position: absolute;
  width: 100%;
  top: 30%;
}

.myname h1{
  font-size: 3em;
  margin: 0;
}

.mytitle p {
  font-weight: bold;
  font-size: 1.5em;
  margin: 2vw 0 8vw 0;
}

.arrow {
  width: 50px;
  height: 50px;
  transition: .3s;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  transform: rotate(-270deg);
  border: 2px solid #323232;
  cursor: pointer;
  transition: .3s;
}

.arrow:hover {
  border: 2px solid #ffffff;
  color: #009ed9;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
}

/* ABOUTPAGE */
.section {
  padding: 80px 0;
}

.about h1 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

.about h1:after {
  display: block;
  height: 2px;
  background-color: #3fc5f0;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.summary {
  width: 50%;
  line-height: 145%;
  margin: 0 25% 0 25%;
  text-align: left;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 6vh;
}

ul {
  display: flex;
  list-style: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  margin:0 60px 0 60px ;
  text-decoration: none;
  transition: transform .2s;
}

ul li a .fab {
  line-height: 80px;
  font-size: 40px;
  transition: .5s;
}

ul li a {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #fff;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

ul li a::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #a2a2a2;
  transition: .5s; 
  transform: rotate(0deg) skewY(-45deg);
}

ul li a::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #c7c7c7;
  transition: .5s; 
  transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover {
  transform: perspective(1000px) rotate(-30px) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:nth-child(1) a .fab {
  color: #0072b1;
}

ul li:nth-child(2) a .fab {
  color: #DD2A7B;
}

ul li:nth-child(3) a .fab {
  color: #333;
}

ul li:nth-child(4) a .fab {
  color: #333;
}

ul li a:hover .fab {
  color: #fff;
}

ul li:nth-child(1) a:hover {
  background: #00acee;
}

ul li:nth-child(2) a:hover {
  background: #DD2A7B;
}

ul li:nth-child(3) a:hover {
  background: #333;
}

ul li:nth-child(4) a:hover {
  background: #333;
}

ul li:nth-child(1) a:hover::before {
  background: #2e92b9;
}

ul li:nth-child(2) a:hover::before {
  background: #751540;
}

ul li:nth-child(3) a:hover::before {
  background: #202020;
}

ul li:nth-child(4) a:hover::before {
  background: #202020;
}

ul li:nth-child(1) a:hover::after {
  background: #5fc2e8;
}

ul li:nth-child(2) a:hover::after {
  background: #d95490;
}

ul li:nth-child(3) a:hover::after {
  background: #494949;
}

ul li:nth-child(4) a:hover::after {
  background: #494949;
}

