/* ----------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------- */
.navbar-box {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100000;
  }
  
  .navbar {
    color: #000;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50px;
    width: 100%;
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
            background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .navbar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 200px;
    margin-top: 10px;
  }
  
  .navbar h3{
    cursor: pointer;
    margin-right: 22vw;
    font-size: large;
  }
  
  .navlink {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
  }
  
  .navlink li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .navlink li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  
  .navlink li a:hover {
    color: rgb(0, 166, 255);
  }
  
  .navbar-btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 6px 20px;
    background-color: rgb(0, 166, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .navbar-btn:hover{
    background-color: #000;
    color: #fff;
  }

/* ----------------------------------------------- */
/* MOBILE */
/* ----------------------------------------------- */